<h2>Request for Aid Canceled</h2>
<h4>Please do not reply to this email.</h4>

<p>You have canceled your request for aid from <%= @project.name %> from your HCT account <%= @user.email %>.</p>

<p>If this was an error, click <%= link_to 'here', @project %> to go to the resource page and make your request again.</p>

<p>Thank you! <br/>
The Helping Central Texas team</p>
